/.idea
/.editorconfig
/.env
/.env.example
/.jshintrc
node_modules
Thumbs.db
assets/css/*.min.css
assets/css/*.map
assets/css/main.min.css.map
assets/css/main.min.css
assets/css/vendor.min.css
assets/js/dist/*.min.js
assets/js/dist/*.map
assets/js/dist/main.min.js
assets/js/dist/vendor.min.js
vendor
composer.lock
sftp-config.json
alt-sftp-config.json
sftp-config-alt.json
.DS_STORE
.DS_Store
.phpintel
.env
/logs.log
/acf-json/
