$font-family-default: "Gotham";
$font-family-base: "Gotham";

$gray-base: #3B3438;
$gray-darker: $gray-base;
$gray-dark: $gray-base;
$gray: $gray-base;
$gray-light: $gray-base;
$gray-lighter: $gray-base;

$red: #FC4F56;

$slider-height: 600px;