.hide-menu {
    @media (min-width: $screen-xs-max) {
        opacity: 0;
        visibility: hidden;
    }
}

.search-wrapper {
    position: relative;
    z-index: -1;
    top: 12px;
    float: left;

    #searchExpandToggle {
        font-size: 16px;
    }

    @media (max-width: $screen-sm) {
        margin-bottom: 40px;
        float: none;
        margin-left: -15px;
    }

    button {
        border: none;
        background: none;
    }

    form {
        position: absolute;
        right: 20px;
        display: none;
        background-color: #fff;

        @media (max-width: $screen-sm) {
            left: 25px;
            width: 90%;
        }

        button {
            position: absolute;
            top: 3px;
            padding-top: 0;
        }

        input {
            padding: 3px 30px;
            width: 580px;
            border: none;
            background: transparent;
            border-bottom: 1px solid #333;
            @include borderRadius(0px);

            @media (max-width: $screen-md) {
                width: 410px;
            }

            @media (max-width: $screen-sm) {
                width: 100% !important;
            }

            body.lang-ch & {
                width: 490px;

                @media (max-width: $screen-lg) {
                    width: 380px;
                }

                @media (max-width: $screen-md) {
                    width: 350px;
                }
            }
        }
    }

    & > button {
        position: relative;
        top: 7px;

        &.is-expanded {

            .fa-search {
                display: none;
            }

            .fa-times {
                display: inline-block;
            }
        }
    }

    .fa-times {
        display: none;
    }
}