.slider {
    height: $slider-height;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;

    &__parallax {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        pointer-events: none;
    }

    &__slides {
        background-color: #333;
    }

    &__slide {
        height: $slider-height;
        position: relative;
        background-position: center;
        background-size: cover;

        // &::after {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background-image: url('../img/parallax/parallax-line-2.png');
        //     background-repeat: no-repeat;
        //     background-position: top right;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        // }
    }

    &__content {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 18%;
        color: #fff;
        @include translate(0, -50%);
        padding: 0 15px;

        @media (max-width: $screen-md) {
            left: 10%;
        }

        @media (max-width: $screen-sm) {
            left: 0;
        }

        &__header {
            font-size: 39px;
            font-weight: 300;
            margin-bottom: 30px;
        }

        &__subheader {
            font-size: 19px;
            font-weight: 300;
            margin-bottom: 40px;

            @media (max-width: $screen-sm) {
                br {
                    display: none;
                }
            }
        }
    }

    .slick-dots {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        bottom: 30px;
        list-style-type: none;
        @include translate(-50%, 0);

        li {
            width: 83px;
            height: 2px;
            background-color: #fff;
            display: inline-block;
            margin: 0 10px;
            position: relative;
            @include transition(all 0.2s linear);
            cursor: pointer;
            overflow: hidden;

            @media (max-width: $screen-sm) {
                width: 40px;
            }

            @media (max-width: $screen-xs) {
                width: 10px;
                height: 10px;
                margin: 0 7px;

                button {
                    color: transparent;
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 100%;
                left: 50%;
                top: 0;
                background-color: $red;
                @include transition(all 0.2s ease-in)
            }

            &.slick-active {
                &::after {
                    left: 0;
                    width: 100%;
                }
            }

            button {
                width: 100%;
                height: 100%;
                background: none;
                border: none;

                &:focus, &:active {
                    background: none;
                    border: none;
                }
            }
        }
    }
}